name: 'Release'

on:
  release:
    types: [published]

permissions:
  attestations: write
  id-token: write # Required for OIDC
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm to latest
        run: npm install -g npm@latest # ensure that the globally installed npm is new enough to support OIDC

      - name: Install Dependencies
        run: pnpm install

      - name: Publish to NPM
        run: npm publish --provenance
